
.newsletter-container {
	margin-top: 30px;
	margin-bottom: 20px;
	background: #f1f3fe;
    padding: 20px;
    border-radius: 4px;
}

.newsletter-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
}



.newsletter-text {
    margin-bottom: 15px;
    font-size: 0.9em;
	color:rgb(140, 177, 109);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 500;
}

.newsletter-email {
}

.newsletter-form input[type="email"] {
    border: none;
    padding: 10px;
    border-radius: 5px;
	border: 1px solid rgb(218 218 218);
	width: 100%;
	margin-bottom: 10px;
}

.newsletter-form input[type="email"] :focus-visible{
	border: 1px solid rgb(218 218 218) !important;
}

.newsletter-form button.submit-btn {
    background-color: rgb(140, 177, 109);
    border: 2px solid rgb(140, 177, 109);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
	width: 100%;
	height: 45px;
}

.error-msg small {
	color: red;
  }

.error-msg {	
	margin-top: -10px;
}
.message-success{
	color: green;
}