
.custom-dropdown {
    width: 100%;
    padding: 8px 16px;
    border: 2px solid #ddd; 
    border-radius: 8px; 
    background-color: white;
    font-size: 16px;
    color: #8898aa;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
  }
  
  .custom-dropdown:focus,
  .custom-dropdown:hover {
    border-color: #a5d6a7; 
    outline: none;
  }
  
  .custom-dropdown option {
    padding: 10px;
  }

  .form-control-label {
    color: #525f7f;
    font-size: 0.875rem;
    font-weight: 600;
}
  