<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
</head>
<body>
    
<!-- <p-menubar [model]="items"></p-menubar> -->
		
<nav class="custom-navbar">
	<div class="container">
		<div class="row">
			<div class="col-xs-1" style="vertical-align: middle;">
				<div class="custom-navbar-logo">TWJ</div>
			</div>
			<div class="col-xs-11"style="vertical-align: middle; margin-top: 6px;">
				<ul class="custom-navbar-links" id="customNavbarLinks">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
  </nav>
  
<!-- End Nav
================================================== -->

<!-- Begin Site Title
================================================== -->
<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">TWJ</h1>
		<p class="lead">
			 The Wellness Junction
		</p>
	</div>
<!-- End Site Title
================================================== -->

	<!-- Begin Featured
	================================================== -->
	<div class="section-title">
		<h2><span>{{capitalizedTag}}</span></h2>
	</div>
    <div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div class="card-columns listfeaturedtag">
					<div *ngFor="let post of blogPostList" class="card">
						<div class="row">
							<div class="col-md-5 wrapthumbnail">
								<a [routerLink]="['/post', post.url]">
									<div class="thumbnail" [style.background-image]="'url(' + post.image + ')'">
									</div>
								</a>
							</div>
							<div class="col-md-7">
								<div class="card-block">
									<h2 class="card-title"><a [routerLink]="['/post', post.url]">{{ post.title.length > 120 ? (post.title | slice:0:120) + '...' : post.title }}</a></h2>
									<div class="metafooter">
										<div class="wrapfooter">
											<span class="meta-footer-thumb">
											<a href="author.html"><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a>
											</span>
											<span class="author-meta">
												<span class="post-name"><a href="author.html">Steve</a></span><br/>
												<span class="post-date">{{ post.createdAt | date: 'longDate' }}</span>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 related-blog-posts">
					<div class="newsletter-container">
						<p class="newsletter-text">Subscribe to our blog and receive weekly updates.</p>
						<form [formGroup]="newsletterForm" (ngSubmit)="subscribe()" class="newsletter-form">
							<input
							formControlName="email"
							class="newsletter-email"
							type="email"
							placeholder="Email Address*"
							required
							>
							<div *ngIf="newsletterForm.get('email').invalid && (newsletterForm.get('email').dirty || newsletterForm.get('email').touched)" class="error-msg">
							<small *ngIf="newsletterForm.get('email').errors?.required">Email is required.</small>
							<small *ngIf="newsletterForm.get('email').errors?.email">Please enter a valid email.</small>
							</div>
							<small class="message-success" *ngIf="showSuccessMessage && !(newsletterForm.get('email').invalid && (newsletterForm.get('email').dirty || newsletterForm.get('email').touched))">{{responseMessage}}</small>
							<button type="submit" class="submit-btn">SUBSCRIBE</button>
						</form>                                  
					</div>                       
					<div class="HSGUKCAolP">
						<a *ngIf="rightBanner" [href]="rightBanner.finalUrl" target="_blank">
							<img [src]="rightBanner.imageUrl" alt="Right Banner" style="width:100%">
						</a>                                
					</div>

				<div *ngIf="!isLargeScreen">
					
				</div>
			</div>
		</div>
    </div>
	<!-- End Featured
	================================================== -->


</div>
<!-- /.container -->
	<!-- Begin Footer
	================================================== -->
	<div class="footer">
		<div class="container">
			<p class="pull-left">
				 Copyright &copy; {{currentYear}} The Wellness Junction
			</p>
			<p class="pull-right">
				 Theme by <b>TheWellnessJunction</b>
			</p>
			<div class="clearfix">
			</div>
		</div>
	</div>
	<!-- End Footer
	================================================== -->
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="../../assets/scripts/bootstrap.min.js"></script>
<script src="../../assets/scripts/ie10-viewport-bug-workaround.js"></script>
<script src="../../assets/scripts/jquery.min.js"></script>
<script src="../../assets/scripts/mediumish.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
 -->

</body>
</html>
