  .section-title h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
	}

	.view-all {
		cursor: pointer;
		color: rgb(147, 184, 116);
		transition: .3s;
	}

	.view-all:hover {
		text-decoration: none !important;
		margin-right: -5px;
	}

  
  