body {
	font-family: 'Open Sans', sans-serif;
}
.modal-newsletter {	
	color: #9f9f9f;
	width: 525px;
	font-size: 15px;
}		
.modal-newsletter .modal-content {
	padding: 40px 50px;
	border-radius: 1px;		
	border: none;
}
.modal-newsletter .modal-header {
	border-bottom: none;   
	position: relative;
	text-align: center;
	border-radius: 5px 5px 0 0;
}
.modal-newsletter h4 {
	color: #000;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 30px;
	margin: 0;		
	text-transform: uppercase;
}	
:host ::ng-deep .modal-newsletter .close {
	position: absolute !important;
	top: -25px !important;
	right: -35px !important;
	color: #c0c3c8 !important;
	text-shadow: none !important;
	opacity: 0.5 !important;
	font-size: 26px !important;
	font-weight: normal !important;
    padding: 19px !important; 
}
.modal-newsletter .close:hover {
	opacity: 0.8;
}
.modal-newsletter .form-control, .modal-newsletter .btn {
	min-height: 46px;
	text-align: center;
	border-radius: 1px; 
}
.modal-newsletter .form-control {
	box-shadow: none;
	background: #f5f5f5;
	border-color: #d5d5d5;
}
.modal-newsletter .form-control:focus {
	border-color: #ccc;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.modal-newsletter .btn {
	color: #fff;
	background: #353535;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	padding: 6px 20px;
	border: none;
	margin-top: 20px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}
.modal-newsletter .btn:hover, .modal-newsletter .btn:focus {
	background: #171717;
	outline: none;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.modal-newsletter .form-group {
	padding: 0 20px;
	margin-top: 30px;
}
.modal-newsletter .footer-link{
	margin-top: 20px;
	min-height: 25px;
	cursor: pinter;
}
.modal-newsletter .footer-link a {
	color: #353535;
	display: inline-block;
	border-bottom: 2px solid;
	font-weight: bold;
	text-align: center;		
	text-transform: uppercase;
	font-size: 14px;
	cursor: pointer;
}
.modal-newsletter .footer-link a:hover, .modal-newsletter .footer-link a:focus {
	text-decoration: none;
	border: none;
}
.hint-text {
	margin: 100px auto;
	text-align: center;
}

/* This is the overlay that fills the entire screen */
.modal-overlay {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
    z-index: 1050; /* High z-index to make sure it's on top */
}
